<h1>Ajout d'un open space</h1>
 <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="createOpen()">
  <mat-form-field appearance="fill" class="name-input">
    <mat-label>Nom</mat-label>
    <input matInput  formControlName="name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary">Creer un open-space</button>
  </form>
  </mat-card-content>
