<div style="margin-left :5%">
<h1>{{openSpace.name}}</h1>
<h2>Evènement</h2>


<div *ngIf="events.length>0; then event1 else event2;"></div>


<div style="width: 40%;">
        <ng-template #event1>
<section class="carousel">
            <ul class="carousel-items">
 <div *ngFor="let event of events; let i = index" style="margin-right: 3%;">

   <mat-card class="example-card" style="min-width: 180px;min-height: 200px;">
     <mat-card-header>
       <mat-card-title> {{event.name}}</mat-card-title>
     </mat-card-header>
     <div *ngIf="event.image == ''; then img1 else img2;"></div>
     <ng-template #img1>     <img mat-card-image   style="max-width: 200px;"  src="assets/cowk.jpg" alt="Photo of a Shiba Inu"> </ng-template>
     <ng-template #img2>
     <img mat-card-image style="max-width: 200px;" [src]="'http://localhost:3000/event/file/'+event.image" alt="Photo of a Shiba Inu">  </ng-template>

     <mat-card-content>
       <p>
           {{event.description}}
       </p>
     </mat-card-content>
   </mat-card>
   </div>
      </ul>
      </section>
        </ng-template>
        <ng-template #event2>
          Aucun évènement .
        </ng-template>
      <button mat-raised-button color="primary" (click)="openEventDialog()">Ajouter un évenement !</button>

</div>


<div style="width: 500px">
<div style="margin-top: 3%;"><h2>Salles</h2></div>
<div *ngIf="getRooms().length>0; then thenBlock1 else elseBlock2;"></div>
        <ng-template #thenBlock1>
<div>
  <section class="carousel">
              <ul class="carousel-items">
              <div *ngFor="let room of getRooms(); let i = index" style="margin-right: 3%;">

   <mat-card class="example-card">
     <mat-card-header>
       <mat-card-title> {{room.name}}</mat-card-title>
     </mat-card-header>
     <img mat-card-image src="assets/cowk.jpg" alt="Photo of a Shiba Inu">
     <mat-card-content>
       <p>
        {{ room.description }}
       </p>
     </mat-card-content>
   </mat-card>
     </div>

   </ul>
   </section>
  </div>

  </ng-template>
  <ng-template #elseBlock2>
          Cet openspace n'a pas encore de salle reservable.
   </ng-template>
   <button mat-raised-button color="primary" (click)="openDialog()">Ajouter une salle !</button>
</div>

<h2>Outils</h2>
<!--
<div *ngIf="getTools().length>0; then thenBlock11 else elseBlock22;"></div>
        <ng-template #thenBlock11>

<table mat-table [dataSource]="getTools()" class="mat-elevation-z8">


  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</ng-template>
  <ng-template #elseBlock22>
          Cet openspace n'a pas encore d'outil reservable.
   </ng-template>
   <br>

 <form [formGroup]="form" (ngSubmit)="createTool()">
  <mat-form-field appearance="fill" class="name-input">
    <mat-label>Nom</mat-label>
    <input matInput  formControlName="name">
  </mat-form-field>
  <button mat-button> Ajouter un outil !</button>
  </form>
  --->
  <label style="font-size: 130%;">  Ajoutez des ordinateurs et imprimantes pouvant être empruntés par un utilisateur : </label>
  <br>


  <div style="display: inline-block;"><mat-icon style="transform: scale(4);margin-left: 30px;">laptop</mat-icon></div> <div style="display: inline-block;margin-left: 50px;"><br><span style="margin-left: 28px;">{{sortedTool.laptops.length}}</span><br><button mat-raised-button (click)="addLaptop()" color="primary"><mat-icon>library_add</mat-icon></button></div>
  <div style="display: inline-block;"><mat-icon style="transform: scale(4);margin-left: 40px;">local_printshop</mat-icon></div> <div style="display: inline-block;margin-left: 50px;"><br><span style="margin-left: 28px;">{{sortedTool.printers.length}}</span><br><button mat-raised-button (click)="addPrinter()" color="primary"><mat-icon>library_add</mat-icon></button></div>

<div style="margin-top:3%;"><h2>Horaire d'ouverture de l'openspace</h2></div>
<div style="margin-top:2%;display: flex;flex-direction: row; justify-content: space-evenly;width: 50%;">

  <div style="margin-top: 2%;width: 2%;"><label>Lundi</label> </div>
    <mat-form-field appearance="fill">
    <mat-label>Ouverture</mat-label>
      <mat-select [(value)]="openHours.monday.start">
        <mat-option [value]="hour" *ngFor="let hour of hourArray">{{hour}}</mat-option>
      </mat-select>
    </mat-form-field>
        <mat-form-field appearance="fill">
        <mat-label>Fermeture</mat-label>
          <mat-select [(value)]="openHours.monday.end">
            <mat-option [value]="hour" *ngFor="let hour of endValue(openHours.monday.start)">{{hour}}</mat-option>
          </mat-select>
        </mat-form-field>
  </div>




    <div style="display: flex;flex-direction: row; justify-content: space-evenly;width: 50%;">


    <div style="margin-top: 2%;width: 2%;"><label>Mardi</label> </div>
      <mat-form-field appearance="fill">
      <mat-label>Ouverture</mat-label>
      <mat-select [(value)]="openHours.tuesday.start">
          <mat-option [value]="hour" *ngFor="let hour of hourArray">{{hour}}</mat-option>
        </mat-select>
      </mat-form-field>

          <mat-form-field appearance="fill">
          <mat-label>Fermeture</mat-label>
          <mat-select [(value)]="openHours.tuesday.end">
              <mat-option [value]="hour" *ngFor="let hour of endValue(openHours.tuesday.start)">{{hour}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>


        <div style="display: flex;flex-direction: row; justify-content: space-evenly;width: 50%;">


        <div style="margin-top: 2%;width: 2%;"><label>Mercredi</label> </div>
          <mat-form-field appearance="fill">
          <mat-label>Ouverture</mat-label>
      <mat-select [(value)]="openHours.wednesday.start">
              <mat-option  [value]="hour" *ngFor="let hour of hourArray">{{hour}}</mat-option>
            </mat-select>
          </mat-form-field>

              <mat-form-field appearance="fill">
              <mat-label>Fermeture</mat-label>
              <mat-select [(value)]="openHours.wednesday.end">
                  <mat-option  [value]="hour" *ngFor="let hour of endValue(openHours.wednesday.start)">{{hour}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>


            <div style="display: flex;flex-direction: row; justify-content: space-evenly;width: 50%;">


            <div style="margin-top: 2%;width: 2%;"><label>Jeudi</label> </div>
              <mat-form-field appearance="fill">
              <mat-label>Ouverture</mat-label>
              <mat-select [(value)]="openHours.thursday.start">
                  <mat-option [value]="hour" *ngFor="let hour of hourArray">{{hour}}</mat-option>
                </mat-select>
              </mat-form-field>

                  <mat-form-field appearance="fill">
                  <mat-label>Fermeture</mat-label>
                  <mat-select [(value)]="openHours.thursday.end">
                      <mat-option  [value]="hour" *ngFor="let hour of endValue(openHours.thursday.start)">{{hour}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>


                <div style="display: flex;flex-direction: row; justify-content: space-evenly;width: 50%;">


                <div style="margin-top: 2%;width: 2%;"><label>Vendredi</label> </div>
                  <mat-form-field appearance="fill">
                  <mat-label>Ouverture</mat-label>
                  <mat-select [(value)]="openHours.friday.start">
                      <mat-option [value]="hour" *ngFor="let hour of hourArray">{{hour}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                      <mat-form-field appearance="fill">
                      <mat-label>Fermeture</mat-label>
                      <mat-select [(value)]="openHours.friday.end">
                          <mat-option [value]="hour" *ngFor="let hour of endValue(openHours.friday.start)">{{hour}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>

                    <div style="display: flex;flex-direction: row; justify-content: space-evenly;width: 50%;">


                    <div style="margin-top: 2%;width: 2%;"><label>Samedi</label> </div>
                      <mat-form-field appearance="fill">
                      <mat-label>Ouverture</mat-label>
                      <mat-select [(value)]="openHours.saturday.start">
                          <mat-option [value]="hour" *ngFor="let hour of hourArray">{{hour}}</mat-option>
                        </mat-select>
                      </mat-form-field>

                          <mat-form-field appearance="fill">
                          <mat-label>Fermeture</mat-label>
                          <mat-select [(value)]="openHours.saturday.end">
                              <mat-option [value]="hour" *ngFor="let hour of endValue(openHours.saturday.start)">{{hour}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div style="display: flex;flex-direction: row; justify-content: space-evenly;width: 50%;">
                          <div style="margin-top: 2%;width: 2%;"><label>Dimanche</label> </div>
                            <mat-form-field appearance="fill">
                            <mat-label>Ouverture</mat-label>
                            <mat-select [(value)]="openHours.sunday.start">
                                <mat-option [value]="hour" *ngFor="let hour of hourArray">{{hour}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                                <mat-form-field appearance="fill">
                                <mat-label>Fermeture</mat-label>
                                <mat-select [(value)]="openHours.sunday.end">
                                    <mat-option [value]="hour" *ngFor="let hour of endValue(openHours.sunday.start)">{{hour}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                          </div>
                            <div><button mat-raised-button color="primary" (click)="changeHours()" style="margin-left:45%"> Modifier les horaires </button></div>
</div>



